<p>
  <b>Name:</b>
  <%= @workshop.name %>
</p>

<p>
  <b>Nav setting:</b>
  <%= @workshop.nav_setting %>
</p>

<p>
  <b>Description:</b>
  <%= @workshop.description %>
</p>

<ul>
  <% @workshop.mini_lessons.order("nav_order ASC").each do |ml| %>
      <li><%= link_to ml.title,  admin_workshop_mini_lesson_path(@workshop,ml) %></li>
  <% end %>

</ul>

<%= link_to 'Add Mini-lesson', new_admin_workshop_mini_lesson_path(@workshop) %>
<%= link_to 'Edit', edit_admin_workshop_path(@workshop) %> |
<%= link_to 'Back', admin_workshops_path %>
